body {
  width: 100%; /*Sets the body of the page to always be 100%*/
}
/*Centers in middle of page*/
.horizontal-center {
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.brBtn {
  margin-top: 1%; /*gives the br button in the choose city modal a margin top*/
}

/*****LOGIN MODAL******/
.loginmodal-container {
  padding: 40px; /*How far away the contents are from the border of the modal*/
  width:100%; /*Width of modal*/
  max-width:500px; /*Max-Width of modal, mobile purposes*/
  background-color: white; /*Background color of modal*/
  margin: 0 auto; /*Since we specified the width, this will make everything sit in the center of the modal*/
  border-radius: 4px; /*Rounded edges for border*/
  overflow: hidden; /*Used to see content that overflows aka used if a lot of content doesnt fit on modal, hidden has no scroll bars*/
  font-family: helvetica, sans-serif;
}
.loginmodal-container h1 { /*Controls the header of the modal "Log in to your WIOC account"*/
  text-align: center; /*Centers the header*/
  font-size: 25px; /*Changes the size of the header*/
  font-family: helvetica, sans-serif; /*Font*/
  color:#247BA0; /*Color of the header*/
}

#loginSubmitBtn {
  border-radius: 4px; /*Rounds button edges*/
  color: white; /*Text of submit*/
  background-color: #247BA0; /*Background color of button*/
  padding: 10px 0px; /*Affects the height of the button*/
  font-size: 19px; /*Font size of the text on the button*/
  border:none; /*Need this or as some dumb auto border, can do this with border:0 not sure which is better practice*/
  width: 100%; /*Takes up all space on modal while keeping padding*/
  display: block; /*Displays the submit button in a block so its lined up with everything above it*/
  margin-bottom: 10px; /*How far the button is away from the thing below it*/
  position: relative; /*Allows for easy positioning*/
  margin-top:10px; /*How far the submit button is away from the thing above it*/
}

#loginSubmitBtn:hover {
  background-color: #0A678F; /*Color of background when cursor is hovering on submit button*/
}

.loginText { /*Controls text and text box for username and password*/
  height: 50px; /*Height of text boxes*/
  font-size: 16px; /*Font size of placeholder text and text typed into box*/
  width: 100%; /*Takes up all space on modal while keeping padding*/
  margin-bottom: 10px; /*How far away each text box is away from the thing below it*/
  background-color: white; /*Background color of the text boxes*/
  padding: 0 10px; /*How far placeholder and actual typed text are away from the sides from the textbox, also affects where the text starts*/
  border: none; /*Border of text box*/
  border-bottom:1px solid #247BA0; /*Gives us only the bottom border*/
  -webkit-border-radius:0; /*Makes the text input not appear on mobile devices*/
  border-radius:0; /*Reinforces the above line*/
}

.loginText:hover {
  border-bottom: 2px solid #0A678F; /*Adds a border when hovering over username and password text boxes*/
}

.loginmodal-container a{ /*Forgot Password font, sign up font and anything else that uses the tag a in the login modal*/
  color: #247BA0; /*Color of "Change Password"*/
  font-size:13px; /*Size of "Change Password"*/
}
#forgotPasswordText{ /*Paragraph tag that is used to center and move the forgot password text slightly down*/
  text-align: center; /*Center the text in the login modal*/
  margin-top:20px; /*Give it a margin top to give it a little seperation from the things above it*/
}
#loginModalText{ /*Text underneath the hr that allows the user to sign up from the login modal*/
  text-align: center; /*Centers that text*/
}
#loginModalHR{
  border:0.3px solid #247BA0; /*Changes the horizontal rule's thickness and color*/
}


/********Contact Us Modal**********/
#contactUsCloseBtn:hover{
	background-color:#C9C9C9; /*Changes background color of "Close" button when the cursor is hovering over it*/
}
#contactUsSubmitBtn{
  background-color:#247BA0; /*Sets the background of the "Submit" to the specified hex*/
}
#contactUsSubmitBtn:hover{
  background-color: #0A678F; /*Changes background color of "Submit" button when the cursor is hovering over it*/
}

/*****Underline Animation****/
.underlineAnimate{
  display: inline; /*Display the animation in line*/
  position: relative; /*Allows us the position the line*/
  overflow: hidden; /*Hides overflow*/
  top: 6px; /*Positions the line*/
}
.underlineAnimate:after {
  content: ""; /*After the line appears make it go blank*/
  background:#247BA0; /*Give line background color*/
  position: absolute; /*Absolutly position it*/
  left: 0; /*Line is positioned to left*/
  right: 100%; /*Let the line go the width of the text above it*/
  bottom: 5px;
  height: 4px; /*Thickness of line*/
  transition-property: top bottom; /*How the line comes in*/
  transition-duration: 0.4s; /*How long it takes the line to extend*/
  transition-timing-function: ease-out; /*How the line exits the screen*/
}
.underlineAnimate:hover:after,
.underlineAnimate:focus:after,
.underlineAnimate:active:after {
  right: 0;
}
.nav li {
  display: inline; /*Display the navbar elements in a line*/
}

.modal-open {
  position: fixed; /*Not sure if we need this anymore but this fixes the position of the modal when it is opened*/
}

/******Navbar*******/
.navbarText {
  font-size: 15px; /*Size of font for navbar text*/
  font-weight: bold; /*Bolds the text*/
  padding: 15px 10px; /*Gives the text a little spacing from the top and bottom*/
  font-family: helvetica, sans-serif; /*Sets the font type*/
  margin-left: 1px; /*Margin left to give space*/
  position:relative;
  top:0; /*Essentailly centers the text on the navbar*/
}
.nav.navbar-nav.navbar-right li a {
  color: #464646; /*Color of the navbar text*/
}
.nav.navbar-nav.navbar-right li a:hover {
  color: #000000; /*When the text is hovered it turns black*/
}
#wiocNavbarLogo{
  positon:relative; /*Position of wioc logo*/
  top:2px; /*positions the wioc logo 2px towards the top*/
}
.navbar-brand>img{
  margin-top:-23px; /*WIOC logo given margin top*/
  height:60px; /*Height of wioc logo*/
  width:auto; /*width of the wioc logo*/
}
.wrap-text {
  overflow-wrap: break-word; /*Breaks words if overflow occurs*/
  word-wrap: break-word; /*Breaks the word wrapping*/
}
