<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contactUsTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="contactUsNewMessageText">Contact Us</h2>
        <p class="modal-title" id="contactUsNewMessageText">We love feedback. Send us some.</p>
      </div>
      <div class="modal-body">
        <form method="POST" action="includes/feedback-system.inc.php">

            <label for="sender-name" class="form-control-label contactUsTitle">Name:</label><br>
            <input type="text" class="form-control" name="name" id="sender-name">
            <br>
            <label for="sender-email" class="form-control-label contactUsTitle">E-mail:</label><br>
            <input type="email" class="form-control" name="email" id="sender-email">
            <br>
            <label for="message-text" class="form-control-label contactUsTitle">Message:</label><br>
            <textarea class="form-control" name="message" id="message-text"></textarea>
            <div class="modal-footer">
              <input data-dismiss="modal" class="btn" type="button" value="Cancel">
              <input type="submit" class="btn btn-primary" name="contactusSubmitBtn" value="Submit">
            </div>

        </form>
      </div>
    </div>
  </div>
</div>
