<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contactUsTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="contactUsNewMessageText">Contact Us</h2>
        <p class="modal-title" id="contactUsNewMessageText">We love feedback. Send us some.</p>
      </div>
      <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="sender-name" class="form-control-label contactUsTitle">Name:</label>
          <input type="text" class="form-control" id="sender-name">
          <br>
          <label for="sender-email" class="form-control-label contactUsTitle">Email:</label>
          <input type="text" class="form-control" id="sender-email">
          <br>
          <label for="subject-name" class="form-control-label contactUsTitle">Subject:</label>
          <input type="text" class="form-control " id="subject-name">
          <br>
          <label for="message-text" class="form-control-label contactUsTitle">Message:</label>
          <textarea class="form-control " id="message-text"></textarea>
        </div>
      </form>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="contactUsCloseBtn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="contactUsSubmitBtn">Submit</button>
      </div>
    </div>
  </div>
</div>
