<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!--The purpose of this modal is a screen popup that appears whenever the 'Ask A Question' button is clicked on the cityhome page.
The template include the styling for the modal and the input areas for the user to propose their question-->
<div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="askAQuestionTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <!--The button for closing out of the modal-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="askAQuestionText">What would you like to ask?</h2>
        <p class="modal-title" id="askAQuestionText">Ask about events, shops, attractions, or whatever you want to know!</p>
      </div>
      <div class="modal-body">

      <!--This modal uses the included post-question.inc.php file to post the question into the database. The format
      of this form is 2 text input fields and a dropdown menu-->
      <form action="includes/post-question.inc.php" method="POST">
        <div class="form-group">
          <label for="question-question" class="form-control-label askAQuestionTitle">Question:</label>
          <input type="text" class="form-control" id="question-question" name="question-question" required>
          <br>
          <label for="question-description" class="form-control-label askAQuestionTitle">Description:</label>
          <textarea class="form-control " id="question-description" name="question-description" required></textarea>
          <br>
          <label for="question-category" class="form-control-label askAQuestionTitle">Category:</label>

          <!--The different options that are selectable from the dropdown menu-->
          <select name="question-category" id="question-category" class="selectpicker" data-live-search="true">
            <option>Volunteer</option>
            <option>Discussion</option>
            <option>Food and Dining</option>
            <option>Service providers</option>
            <option>Leisure</option>
            <option>Nightlife</option>
            <option>Date night </option>
            <option>Shopping</option>
            <option>Events</option>
            <option>Amusements and attractions</option>
            <option>Hotels and lodging</option>
            <option>Family</option>
            <option>Pets</option>
            <option>Museums and Historical Sites</option>
            <option>Places of worship</option>
          </select>
        </div>
      </div>

      <!--This div contains the 'Cancel' and 'Post Question' buttons-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="askAQuestionCancelBtn" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" name="askAQuestionSubmitBtn" value="Ask The Locals">
      </div>
    </form>
    </div>
  </div>
</div>
