<div class="modal fade" id="QuestionModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-body">
         <h1>What would you like to ask?</h1>
         <form>
           <input type="userQuestion" name="Question" class="userQuestionText" placeholder="Ask Your Question Here">
           <input type="questionDescription" name="description" class="questionDescriptionText" placeholder="Add A Description To Your Question Here (OPTIONAL)">
           <input type="submit" name="loginSubmitBtn" id="loginSignUpSubmitBtn" class="login" value="Log In">
         </form>
       </div>
     </div>
   </div>
</div>
